@font-face {
  font-family: 'lumiere-icon';
  src:  url('fonts/lumiere-icon.eot?nnybth');
  src:  url('fonts/lumiere-icon.eot?nnybth#iefix') format('embedded-opentype'),
    url('fonts/lumiere-icon.ttf?nnybth') format('truetype'),
    url('fonts/lumiere-icon.woff?nnybth') format('woff'),
    url('fonts/lumiere-icon.svg?nnybth#lumiere-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lm-"], [class*=" lm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lumiere-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lm-home:before {
  content: "\e900";
}
.lm-home2:before {
  content: "\e901";
}
.lm-home3:before {
  content: "\e902";
}
.lm-office:before {
  content: "\e903";
}
.lm-newspaper:before {
  content: "\e904";
}
.lm-pencil:before {
  content: "\e905";
}
.lm-pencil2:before {
  content: "\e906";
}
.lm-quill:before {
  content: "\e907";
}
.lm-pen:before {
  content: "\e908";
}
.lm-blog:before {
  content: "\e909";
}
.lm-eyedropper:before {
  content: "\e90a";
}
.lm-droplet:before {
  content: "\e90b";
}
.lm-paint-format:before {
  content: "\e90c";
}
.lm-image:before {
  content: "\e90d";
}
.lm-images:before {
  content: "\e90e";
}
.lm-camera:before {
  content: "\e90f";
}
.lm-headphones:before {
  content: "\e910";
}
.lm-music:before {
  content: "\e911";
}
.lm-play:before {
  content: "\e912";
}
.lm-film:before {
  content: "\e913";
}
.lm-video-camera:before {
  content: "\e914";
}
.lm-dice:before {
  content: "\e915";
}
.lm-pacman:before {
  content: "\e916";
}
.lm-spades:before {
  content: "\e917";
}
.lm-clubs:before {
  content: "\e918";
}
.lm-diamonds:before {
  content: "\e919";
}
.lm-bullhorn:before {
  content: "\e91a";
}
.lm-connection:before {
  content: "\e91b";
}
.lm-podcast:before {
  content: "\e91c";
}
.lm-feed:before {
  content: "\e91d";
}
.lm-mic:before {
  content: "\e91e";
}
.lm-book:before {
  content: "\e91f";
}
.lm-books:before {
  content: "\e920";
}
.lm-library:before {
  content: "\e921";
}
.lm-file-text:before {
  content: "\e922";
}
.lm-profile:before {
  content: "\e923";
}
.lm-file-empty:before {
  content: "\e924";
}
.lm-files-empty:before {
  content: "\e925";
}
.lm-file-text2:before {
  content: "\e926";
}
.lm-file-picture:before {
  content: "\e927";
}
.lm-file-music:before {
  content: "\e928";
}
.lm-file-play:before {
  content: "\e929";
}
.lm-file-video:before {
  content: "\e92a";
}
.lm-file-zip:before {
  content: "\e92b";
}
.lm-copy:before {
  content: "\e92c";
}
.lm-paste:before {
  content: "\e92d";
}
.lm-stack:before {
  content: "\e92e";
}
.lm-folder:before {
  content: "\e92f";
}
.lm-folder-open:before {
  content: "\e930";
}
.lm-folder-plus:before {
  content: "\e931";
}
.lm-folder-minus:before {
  content: "\e932";
}
.lm-folder-download:before {
  content: "\e933";
}
.lm-folder-upload:before {
  content: "\e934";
}
.lm-price-tag:before {
  content: "\e935";
}
.lm-price-tags:before {
  content: "\e936";
}
.lm-barcode:before {
  content: "\e937";
}
.lm-qrcode:before {
  content: "\e938";
}
.lm-ticket:before {
  content: "\e939";
}
.lm-cart:before {
  content: "\e93a";
}
.lm-coin-dollar:before {
  content: "\e93b";
}
.lm-coin-euro:before {
  content: "\e93c";
}
.lm-coin-pound:before {
  content: "\e93d";
}
.lm-coin-yen:before {
  content: "\e93e";
}
.lm-credit-card:before {
  content: "\e93f";
}
.lm-calculator:before {
  content: "\e940";
}
.lm-lifebuoy:before {
  content: "\e941";
}
.lm-phone:before {
  content: "\e942";
}
.lm-phone-hang-up:before {
  content: "\e943";
}
.lm-address-book:before {
  content: "\e944";
}
.lm-envelop:before {
  content: "\e945";
}
.lm-pushpin:before {
  content: "\e946";
}
.lm-location:before {
  content: "\e947";
}
.lm-location2:before {
  content: "\e948";
}
.lm-compass:before {
  content: "\e949";
}
.lm-compass2:before {
  content: "\e94a";
}
.lm-map:before {
  content: "\e94b";
}
.lm-map2:before {
  content: "\e94c";
}
.lm-history:before {
  content: "\e94d";
}
.lm-clock:before {
  content: "\e94e";
}
.lm-clock2:before {
  content: "\e94f";
}
.lm-alarm:before {
  content: "\e950";
}
.lm-bell:before {
  content: "\e951";
}
.lm-stopwatch:before {
  content: "\e952";
}
.lm-calendar:before {
  content: "\e953";
}
.lm-printer:before {
  content: "\e954";
}
.lm-keyboard:before {
  content: "\e955";
}
.lm-display:before {
  content: "\e956";
}
.lm-laptop:before {
  content: "\e957";
}
.lm-mobile:before {
  content: "\e958";
}
.lm-mobile2:before {
  content: "\e959";
}
.lm-tablet:before {
  content: "\e95a";
}
.lm-tv:before {
  content: "\e95b";
}
.lm-drawer:before {
  content: "\e95c";
}
.lm-drawer2:before {
  content: "\e95d";
}
.lm-box-add:before {
  content: "\e95e";
}
.lm-box-remove:before {
  content: "\e95f";
}
.lm-download:before {
  content: "\e960";
}
.lm-upload:before {
  content: "\e961";
}
.lm-floppy-disk:before {
  content: "\e962";
}
.lm-drive:before {
  content: "\e963";
}
.lm-database:before {
  content: "\e964";
}
.lm-undo:before {
  content: "\e965";
}
.lm-redo:before {
  content: "\e966";
}
.lm-undo2:before {
  content: "\e967";
}
.lm-redo2:before {
  content: "\e968";
}
.lm-forward:before {
  content: "\e969";
}
.lm-reply:before {
  content: "\e96a";
}
.lm-bubble:before {
  content: "\e96b";
}
.lm-bubbles:before {
  content: "\e96c";
}
.lm-bubbles2:before {
  content: "\e96d";
}
.lm-bubble2:before {
  content: "\e96e";
}
.lm-bubbles3:before {
  content: "\e96f";
}
.lm-bubbles4:before {
  content: "\e970";
}
.lm-user:before {
  content: "\e971";
}
.lm-users:before {
  content: "\e972";
}
.lm-user-plus:before {
  content: "\e973";
}
.lm-user-minus:before {
  content: "\e974";
}
.lm-user-check:before {
  content: "\e975";
}
.lm-user-tie:before {
  content: "\e976";
}
.lm-quotes-left:before {
  content: "\e977";
}
.lm-quotes-right:before {
  content: "\e978";
}
.lm-hour-glass:before {
  content: "\e979";
}
.lm-spinner:before {
  content: "\e97a";
}
.lm-spinner2:before {
  content: "\e97b";
}
.lm-spinner3:before {
  content: "\e97c";
}
.lm-spinner4:before {
  content: "\e97d";
}
.lm-spinner5:before {
  content: "\e97e";
}
.lm-spinner6:before {
  content: "\e97f";
}
.lm-spinner7:before {
  content: "\e980";
}
.lm-spinner8:before {
  content: "\e981";
}
.lm-spinner9:before {
  content: "\e982";
}
.lm-spinner10:before {
  content: "\e983";
}
.lm-spinner11:before {
  content: "\e984";
}
.lm-binoculars:before {
  content: "\e985";
}
.lm-search:before {
  content: "\e986";
}
.lm-zoom-in:before {
  content: "\e987";
}
.lm-zoom-out:before {
  content: "\e988";
}
.lm-enlarge:before {
  content: "\e989";
}
.lm-shrink:before {
  content: "\e98a";
}
.lm-enlarge2:before {
  content: "\e98b";
}
.lm-shrink2:before {
  content: "\e98c";
}
.lm-key:before {
  content: "\e98d";
}
.lm-key2:before {
  content: "\e98e";
}
.lm-lock:before {
  content: "\e98f";
}
.lm-unlocked:before {
  content: "\e990";
}
.lm-wrench:before {
  content: "\e991";
}
.lm-equalizer:before {
  content: "\e992";
}
.lm-equalizer2:before {
  content: "\e993";
}
.lm-cog:before {
  content: "\e994";
}
.lm-cogs:before {
  content: "\e995";
}
.lm-hammer:before {
  content: "\e996";
}
.lm-magic-wand:before {
  content: "\e997";
}
.lm-aid-kit:before {
  content: "\e998";
}
.lm-bug:before {
  content: "\e999";
}
.lm-pie-chart:before {
  content: "\e99a";
}
.lm-stats-dots:before {
  content: "\e99b";
}
.lm-stats-bars:before {
  content: "\e99c";
}
.lm-stats-bars2:before {
  content: "\e99d";
}
.lm-trophy:before {
  content: "\e99e";
}
.lm-gift:before {
  content: "\e99f";
}
.lm-glass:before {
  content: "\e9a0";
}
.lm-glass2:before {
  content: "\e9a1";
}
.lm-mug:before {
  content: "\e9a2";
}
.lm-spoon-knife:before {
  content: "\e9a3";
}
.lm-leaf:before {
  content: "\e9a4";
}
.lm-rocket:before {
  content: "\e9a5";
}
.lm-meter:before {
  content: "\e9a6";
}
.lm-meter2:before {
  content: "\e9a7";
}
.lm-hammer2:before {
  content: "\e9a8";
}
.lm-fire:before {
  content: "\e9a9";
}
.lm-lab:before {
  content: "\e9aa";
}
.lm-magnet:before {
  content: "\e9ab";
}
.lm-bin:before {
  content: "\e9ac";
}
.lm-bin2:before {
  content: "\e9ad";
}
.lm-briefcase:before {
  content: "\e9ae";
}
.lm-airplane:before {
  content: "\e9af";
}
.lm-truck:before {
  content: "\e9b0";
}
.lm-road:before {
  content: "\e9b1";
}
.lm-accessibility:before {
  content: "\e9b2";
}
.lm-target:before {
  content: "\e9b3";
}
.lm-shield:before {
  content: "\e9b4";
}
.lm-power:before {
  content: "\e9b5";
}
.lm-switch:before {
  content: "\e9b6";
}
.lm-power-cord:before {
  content: "\e9b7";
}
.lm-clipboard:before {
  content: "\e9b8";
}
.lm-list-numbered:before {
  content: "\e9b9";
}
.lm-list:before {
  content: "\e9ba";
}
.lm-list2:before {
  content: "\e9bb";
}
.lm-tree:before {
  content: "\e9bc";
}
.lm-menu:before {
  content: "\e9bd";
}
.lm-menu2:before {
  content: "\e9be";
}
.lm-menu3:before {
  content: "\e9bf";
}
.lm-menu4:before {
  content: "\e9c0";
}
.lm-cloud:before {
  content: "\e9c1";
}
.lm-cloud-download:before {
  content: "\e9c2";
}
.lm-cloud-upload:before {
  content: "\e9c3";
}
.lm-cloud-check:before {
  content: "\e9c4";
}
.lm-download2:before {
  content: "\e9c5";
}
.lm-upload2:before {
  content: "\e9c6";
}
.lm-download3:before {
  content: "\e9c7";
}
.lm-upload3:before {
  content: "\e9c8";
}
.lm-sphere:before {
  content: "\e9c9";
}
.lm-earth:before {
  content: "\e9ca";
}
.lm-link:before {
  content: "\e9cb";
}
.lm-flag:before {
  content: "\e9cc";
}
.lm-attachment:before {
  content: "\e9cd";
}
.lm-eye:before {
  content: "\e9ce";
}
.lm-eye-plus:before {
  content: "\e9cf";
}
.lm-eye-minus:before {
  content: "\e9d0";
}
.lm-eye-blocked:before {
  content: "\e9d1";
}
.lm-bookmark:before {
  content: "\e9d2";
}
.lm-bookmarks:before {
  content: "\e9d3";
}
.lm-sun:before {
  content: "\e9d4";
}
.lm-contrast:before {
  content: "\e9d5";
}
.lm-brightness-contrast:before {
  content: "\e9d6";
}
.lm-star-empty:before {
  content: "\e9d7";
}
.lm-star-half:before {
  content: "\e9d8";
}
.lm-star-full:before {
  content: "\e9d9";
}
.lm-heart:before {
  content: "\e9da";
}
.lm-heart-broken:before {
  content: "\e9db";
}
.lm-man:before {
  content: "\e9dc";
}
.lm-woman:before {
  content: "\e9dd";
}
.lm-man-woman:before {
  content: "\e9de";
}
.lm-happy:before {
  content: "\e9df";
}
.lm-happy2:before {
  content: "\e9e0";
}
.lm-smile:before {
  content: "\e9e1";
}
.lm-smile2:before {
  content: "\e9e2";
}
.lm-tongue:before {
  content: "\e9e3";
}
.lm-tongue2:before {
  content: "\e9e4";
}
.lm-sad:before {
  content: "\e9e5";
}
.lm-sad2:before {
  content: "\e9e6";
}
.lm-wink:before {
  content: "\e9e7";
}
.lm-wink2:before {
  content: "\e9e8";
}
.lm-grin:before {
  content: "\e9e9";
}
.lm-grin2:before {
  content: "\e9ea";
}
.lm-cool:before {
  content: "\e9eb";
}
.lm-cool2:before {
  content: "\e9ec";
}
.lm-angry:before {
  content: "\e9ed";
}
.lm-angry2:before {
  content: "\e9ee";
}
.lm-evil:before {
  content: "\e9ef";
}
.lm-evil2:before {
  content: "\e9f0";
}
.lm-shocked:before {
  content: "\e9f1";
}
.lm-shocked2:before {
  content: "\e9f2";
}
.lm-baffled:before {
  content: "\e9f3";
}
.lm-baffled2:before {
  content: "\e9f4";
}
.lm-confused:before {
  content: "\e9f5";
}
.lm-confused2:before {
  content: "\e9f6";
}
.lm-neutral:before {
  content: "\e9f7";
}
.lm-neutral2:before {
  content: "\e9f8";
}
.lm-hipster:before {
  content: "\e9f9";
}
.lm-hipster2:before {
  content: "\e9fa";
}
.lm-wondering:before {
  content: "\e9fb";
}
.lm-wondering2:before {
  content: "\e9fc";
}
.lm-sleepy:before {
  content: "\e9fd";
}
.lm-sleepy2:before {
  content: "\e9fe";
}
.lm-frustrated:before {
  content: "\e9ff";
}
.lm-frustrated2:before {
  content: "\ea00";
}
.lm-crying:before {
  content: "\ea01";
}
.lm-crying2:before {
  content: "\ea02";
}
.lm-point-up:before {
  content: "\ea03";
}
.lm-point-right:before {
  content: "\ea04";
}
.lm-point-down:before {
  content: "\ea05";
}
.lm-point-left:before {
  content: "\ea06";
}
.lm-warning:before {
  content: "\ea07";
}
.lm-notification:before {
  content: "\ea08";
}
.lm-question:before {
  content: "\ea09";
}
.lm-plus:before {
  content: "\ea0a";
}
.lm-minus:before {
  content: "\ea0b";
}
.lm-info:before {
  content: "\ea0c";
}
.lm-cancel-circle:before {
  content: "\ea0d";
}
.lm-blocked:before {
  content: "\ea0e";
}
.lm-cross:before {
  content: "\ea0f";
}
.lm-checkmark:before {
  content: "\ea10";
}
.lm-checkmark2:before {
  content: "\ea11";
}
.lm-spell-check:before {
  content: "\ea12";
}
.lm-enter:before {
  content: "\ea13";
}
.lm-exit:before {
  content: "\ea14";
}
.lm-play2:before {
  content: "\ea15";
}
.lm-pause:before {
  content: "\ea16";
}
.lm-stop:before {
  content: "\ea17";
}
.lm-previous:before {
  content: "\ea18";
}
.lm-next:before {
  content: "\ea19";
}
.lm-backward:before {
  content: "\ea1a";
}
.lm-forward2:before {
  content: "\ea1b";
}
.lm-play3:before {
  content: "\ea1c";
}
.lm-pause2:before {
  content: "\ea1d";
}
.lm-stop2:before {
  content: "\ea1e";
}
.lm-backward2:before {
  content: "\ea1f";
}
.lm-forward3:before {
  content: "\ea20";
}
.lm-first:before {
  content: "\ea21";
}
.lm-last:before {
  content: "\ea22";
}
.lm-previous2:before {
  content: "\ea23";
}
.lm-next2:before {
  content: "\ea24";
}
.lm-eject:before {
  content: "\ea25";
}
.lm-volume-high:before {
  content: "\ea26";
}
.lm-volume-medium:before {
  content: "\ea27";
}
.lm-volume-low:before {
  content: "\ea28";
}
.lm-volume-mute:before {
  content: "\ea29";
}
.lm-volume-mute2:before {
  content: "\ea2a";
}
.lm-volume-increase:before {
  content: "\ea2b";
}
.lm-volume-decrease:before {
  content: "\ea2c";
}
.lm-loop:before {
  content: "\ea2d";
}
.lm-loop2:before {
  content: "\ea2e";
}
.lm-infinite:before {
  content: "\ea2f";
}
.lm-shuffle:before {
  content: "\ea30";
}
.lm-arrow-up-left:before {
  content: "\ea31";
}
.lm-arrow-up:before {
  content: "\ea32";
}
.lm-arrow-up-right:before {
  content: "\ea33";
}
.lm-arrow-right:before {
  content: "\ea34";
}
.lm-arrow-down-right:before {
  content: "\ea35";
}
.lm-arrow-down:before {
  content: "\ea36";
}
.lm-arrow-down-left:before {
  content: "\ea37";
}
.lm-arrow-left:before {
  content: "\ea38";
}
.lm-arrow-up-left2:before {
  content: "\ea39";
}
.lm-arrow-up2:before {
  content: "\ea3a";
}
.lm-arrow-up-right2:before {
  content: "\ea3b";
}
.lm-arrow-right2:before {
  content: "\ea3c";
}
.lm-arrow-down-right2:before {
  content: "\ea3d";
}
.lm-arrow-down2:before {
  content: "\ea3e";
}
.lm-arrow-down-left2:before {
  content: "\ea3f";
}
.lm-arrow-left2:before {
  content: "\ea40";
}
.lm-circle-up:before {
  content: "\ea41";
}
.lm-circle-right:before {
  content: "\ea42";
}
.lm-circle-down:before {
  content: "\ea43";
}
.lm-circle-left:before {
  content: "\ea44";
}
.lm-tab:before {
  content: "\ea45";
}
.lm-move-up:before {
  content: "\ea46";
}
.lm-move-down:before {
  content: "\ea47";
}
.lm-sort-alpha-asc:before {
  content: "\ea48";
}
.lm-sort-alpha-desc:before {
  content: "\ea49";
}
.lm-sort-numeric-asc:before {
  content: "\ea4a";
}
.lm-sort-numberic-desc:before {
  content: "\ea4b";
}
.lm-sort-amount-asc:before {
  content: "\ea4c";
}
.lm-sort-amount-desc:before {
  content: "\ea4d";
}
.lm-command:before {
  content: "\ea4e";
}
.lm-shift:before {
  content: "\ea4f";
}
.lm-ctrl:before {
  content: "\ea50";
}
.lm-opt:before {
  content: "\ea51";
}
.lm-checkbox-checked:before {
  content: "\ea52";
}
.lm-checkbox-unchecked:before {
  content: "\ea53";
}
.lm-radio-checked:before {
  content: "\ea54";
}
.lm-radio-checked2:before {
  content: "\ea55";
}
.lm-radio-unchecked:before {
  content: "\ea56";
}
.lm-crop:before {
  content: "\ea57";
}
.lm-make-group:before {
  content: "\ea58";
}
.lm-ungroup:before {
  content: "\ea59";
}
.lm-scissors:before {
  content: "\ea5a";
}
.lm-filter:before {
  content: "\ea5b";
}
.lm-font:before {
  content: "\ea5c";
}
.lm-ligature:before {
  content: "\ea5d";
}
.lm-ligature2:before {
  content: "\ea5e";
}
.lm-text-height:before {
  content: "\ea5f";
}
.lm-text-width:before {
  content: "\ea60";
}
.lm-font-size:before {
  content: "\ea61";
}
.lm-bold:before {
  content: "\ea62";
}
.lm-underline:before {
  content: "\ea63";
}
.lm-italic:before {
  content: "\ea64";
}
.lm-strikethrough:before {
  content: "\ea65";
}
.lm-omega:before {
  content: "\ea66";
}
.lm-sigma:before {
  content: "\ea67";
}
.lm-page-break:before {
  content: "\ea68";
}
.lm-superscript:before {
  content: "\ea69";
}
.lm-subscript:before {
  content: "\ea6a";
}
.lm-superscript2:before {
  content: "\ea6b";
}
.lm-subscript2:before {
  content: "\ea6c";
}
.lm-text-color:before {
  content: "\ea6d";
}
.lm-pagebreak:before {
  content: "\ea6e";
}
.lm-clear-formatting:before {
  content: "\ea6f";
}
.lm-table:before {
  content: "\ea70";
}
.lm-table2:before {
  content: "\ea71";
}
.lm-insert-template:before {
  content: "\ea72";
}
.lm-pilcrow:before {
  content: "\ea73";
}
.lm-ltr:before {
  content: "\ea74";
}
.lm-rtl:before {
  content: "\ea75";
}
.lm-section:before {
  content: "\ea76";
}
.lm-paragraph-left:before {
  content: "\ea77";
}
.lm-paragraph-center:before {
  content: "\ea78";
}
.lm-paragraph-right:before {
  content: "\ea79";
}
.lm-paragraph-justify:before {
  content: "\ea7a";
}
.lm-indent-increase:before {
  content: "\ea7b";
}
.lm-indent-decrease:before {
  content: "\ea7c";
}
.lm-share:before {
  content: "\ea7d";
}
.lm-new-tab:before {
  content: "\ea7e";
}
.lm-embed:before {
  content: "\ea7f";
}
.lm-embed2:before {
  content: "\ea80";
}
.lm-terminal:before {
  content: "\ea81";
}
.lm-share2:before {
  content: "\ea82";
}
.lm-mail:before {
  content: "\ea83";
}
.lm-mail2:before {
  content: "\ea84";
}
.lm-mail3:before {
  content: "\ea85";
}
.lm-mail4:before {
  content: "\ea86";
}
.lm-amazon:before {
  content: "\ea87";
}
.lm-google:before {
  content: "\ea88";
}
.lm-google2:before {
  content: "\ea89";
}
.lm-google3:before {
  content: "\ea8a";
}
.lm-google-plus:before {
  content: "\ea8b";
}
.lm-google-plus2:before {
  content: "\ea8c";
}
.lm-google-plus3:before {
  content: "\ea8d";
}
.lm-hangouts:before {
  content: "\ea8e";
}
.lm-google-drive:before {
  content: "\ea8f";
}
.lm-facebook:before {
  content: "\ea90";
}
.lm-facebook2:before {
  content: "\ea91";
}
.lm-instagram:before {
  content: "\ea92";
}
.lm-whatsapp:before {
  content: "\ea93";
}
.lm-spotify:before {
  content: "\ea94";
}
.lm-telegram:before {
  content: "\ea95";
}
.lm-twitter:before {
  content: "\ea96";
}
.lm-vine:before {
  content: "\ea97";
}
.lm-vk:before {
  content: "\ea98";
}
.lm-renren:before {
  content: "\ea99";
}
.lm-sina-weibo:before {
  content: "\ea9a";
}
.lm-rss:before {
  content: "\ea9b";
}
.lm-rss2:before {
  content: "\ea9c";
}
.lm-youtube:before {
  content: "\ea9d";
}
.lm-youtube2:before {
  content: "\ea9e";
}
.lm-twitch:before {
  content: "\ea9f";
}
.lm-vimeo:before {
  content: "\eaa0";
}
.lm-vimeo2:before {
  content: "\eaa1";
}
.lm-lanyrd:before {
  content: "\eaa2";
}
.lm-flickr:before {
  content: "\eaa3";
}
.lm-flickr2:before {
  content: "\eaa4";
}
.lm-flickr3:before {
  content: "\eaa5";
}
.lm-flickr4:before {
  content: "\eaa6";
}
.lm-dribbble:before {
  content: "\eaa7";
}
.lm-behance:before {
  content: "\eaa8";
}
.lm-behance2:before {
  content: "\eaa9";
}
.lm-deviantart:before {
  content: "\eaaa";
}
.lm-500px:before {
  content: "\eaab";
}
.lm-steam:before {
  content: "\eaac";
}
.lm-steam2:before {
  content: "\eaad";
}
.lm-dropbox:before {
  content: "\eaae";
}
.lm-onedrive:before {
  content: "\eaaf";
}
.lm-github:before {
  content: "\eab0";
}
.lm-npm:before {
  content: "\eab1";
}
.lm-basecamp:before {
  content: "\eab2";
}
.lm-trello:before {
  content: "\eab3";
}
.lm-wordpress:before {
  content: "\eab4";
}
.lm-joomla:before {
  content: "\eab5";
}
.lm-ello:before {
  content: "\eab6";
}
.lm-blogger:before {
  content: "\eab7";
}
.lm-blogger2:before {
  content: "\eab8";
}
.lm-tumblr:before {
  content: "\eab9";
}
.lm-tumblr2:before {
  content: "\eaba";
}
.lm-yahoo:before {
  content: "\eabb";
}
.lm-yahoo2:before {
  content: "\eabc";
}
.lm-tux:before {
  content: "\eabd";
}
.lm-appleinc:before {
  content: "\eabe";
}
.lm-finder:before {
  content: "\eabf";
}
.lm-android:before {
  content: "\eac0";
}
.lm-windows:before {
  content: "\eac1";
}
.lm-windows8:before {
  content: "\eac2";
}
.lm-soundcloud:before {
  content: "\eac3";
}
.lm-soundcloud2:before {
  content: "\eac4";
}
.lm-skype:before {
  content: "\eac5";
}
.lm-reddit:before {
  content: "\eac6";
}
.lm-hackernews:before {
  content: "\eac7";
}
.lm-wikipedia:before {
  content: "\eac8";
}
.lm-linkedin:before {
  content: "\eac9";
}
.lm-linkedin2:before {
  content: "\eaca";
}
.lm-lastfm:before {
  content: "\eacb";
}
.lm-lastfm2:before {
  content: "\eacc";
}
.lm-delicious:before {
  content: "\eacd";
}
.lm-stumbleupon:before {
  content: "\eace";
}
.lm-stumbleupon2:before {
  content: "\eacf";
}
.lm-stackoverflow:before {
  content: "\ead0";
}
.lm-pinterest:before {
  content: "\ead1";
}
.lm-pinterest2:before {
  content: "\ead2";
}
.lm-xing:before {
  content: "\ead3";
}
.lm-xing2:before {
  content: "\ead4";
}
.lm-flattr:before {
  content: "\ead5";
}
.lm-foursquare:before {
  content: "\ead6";
}
.lm-yelp:before {
  content: "\ead7";
}
.lm-paypal:before {
  content: "\ead8";
}
.lm-chrome:before {
  content: "\ead9";
}
.lm-firefox:before {
  content: "\eada";
}
.lm-IE:before {
  content: "\eadb";
}
.lm-edge:before {
  content: "\eadc";
}
.lm-safari:before {
  content: "\eadd";
}
.lm-opera:before {
  content: "\eade";
}
.lm-file-pdf:before {
  content: "\eadf";
}
.lm-file-openoffice:before {
  content: "\eae0";
}
.lm-file-word:before {
  content: "\eae1";
}
.lm-file-excel:before {
  content: "\eae2";
}
.lm-libreoffice:before {
  content: "\eae3";
}
.lm-html-five:before {
  content: "\eae4";
}
.lm-html-five2:before {
  content: "\eae5";
}
.lm-css3:before {
  content: "\eae6";
}
.lm-git:before {
  content: "\eae7";
}
.lm-codepen:before {
  content: "\eae8";
}
.lm-svg:before {
  content: "\eae9";
}
.lm-IcoMoon:before {
  content: "\eaea";
}
