$icomoon-font-family: "lumiere-icon" !default;
$icomoon-font-path: "fonts" !default;

$lm-home: "\e900";
$lm-home2: "\e901";
$lm-home3: "\e902";
$lm-office: "\e903";
$lm-newspaper: "\e904";
$lm-pencil: "\e905";
$lm-pencil2: "\e906";
$lm-quill: "\e907";
$lm-pen: "\e908";
$lm-blog: "\e909";
$lm-eyedropper: "\e90a";
$lm-droplet: "\e90b";
$lm-paint-format: "\e90c";
$lm-image: "\e90d";
$lm-images: "\e90e";
$lm-camera: "\e90f";
$lm-headphones: "\e910";
$lm-music: "\e911";
$lm-play: "\e912";
$lm-film: "\e913";
$lm-video-camera: "\e914";
$lm-dice: "\e915";
$lm-pacman: "\e916";
$lm-spades: "\e917";
$lm-clubs: "\e918";
$lm-diamonds: "\e919";
$lm-bullhorn: "\e91a";
$lm-connection: "\e91b";
$lm-podcast: "\e91c";
$lm-feed: "\e91d";
$lm-mic: "\e91e";
$lm-book: "\e91f";
$lm-books: "\e920";
$lm-library: "\e921";
$lm-file-text: "\e922";
$lm-profile: "\e923";
$lm-file-empty: "\e924";
$lm-files-empty: "\e925";
$lm-file-text2: "\e926";
$lm-file-picture: "\e927";
$lm-file-music: "\e928";
$lm-file-play: "\e929";
$lm-file-video: "\e92a";
$lm-file-zip: "\e92b";
$lm-copy: "\e92c";
$lm-paste: "\e92d";
$lm-stack: "\e92e";
$lm-folder: "\e92f";
$lm-folder-open: "\e930";
$lm-folder-plus: "\e931";
$lm-folder-minus: "\e932";
$lm-folder-download: "\e933";
$lm-folder-upload: "\e934";
$lm-price-tag: "\e935";
$lm-price-tags: "\e936";
$lm-barcode: "\e937";
$lm-qrcode: "\e938";
$lm-ticket: "\e939";
$lm-cart: "\e93a";
$lm-coin-dollar: "\e93b";
$lm-coin-euro: "\e93c";
$lm-coin-pound: "\e93d";
$lm-coin-yen: "\e93e";
$lm-credit-card: "\e93f";
$lm-calculator: "\e940";
$lm-lifebuoy: "\e941";
$lm-phone: "\e942";
$lm-phone-hang-up: "\e943";
$lm-address-book: "\e944";
$lm-envelop: "\e945";
$lm-pushpin: "\e946";
$lm-location: "\e947";
$lm-location2: "\e948";
$lm-compass: "\e949";
$lm-compass2: "\e94a";
$lm-map: "\e94b";
$lm-map2: "\e94c";
$lm-history: "\e94d";
$lm-clock: "\e94e";
$lm-clock2: "\e94f";
$lm-alarm: "\e950";
$lm-bell: "\e951";
$lm-stopwatch: "\e952";
$lm-calendar: "\e953";
$lm-printer: "\e954";
$lm-keyboard: "\e955";
$lm-display: "\e956";
$lm-laptop: "\e957";
$lm-mobile: "\e958";
$lm-mobile2: "\e959";
$lm-tablet: "\e95a";
$lm-tv: "\e95b";
$lm-drawer: "\e95c";
$lm-drawer2: "\e95d";
$lm-box-add: "\e95e";
$lm-box-remove: "\e95f";
$lm-download: "\e960";
$lm-upload: "\e961";
$lm-floppy-disk: "\e962";
$lm-drive: "\e963";
$lm-database: "\e964";
$lm-undo: "\e965";
$lm-redo: "\e966";
$lm-undo2: "\e967";
$lm-redo2: "\e968";
$lm-forward: "\e969";
$lm-reply: "\e96a";
$lm-bubble: "\e96b";
$lm-bubbles: "\e96c";
$lm-bubbles2: "\e96d";
$lm-bubble2: "\e96e";
$lm-bubbles3: "\e96f";
$lm-bubbles4: "\e970";
$lm-user: "\e971";
$lm-users: "\e972";
$lm-user-plus: "\e973";
$lm-user-minus: "\e974";
$lm-user-check: "\e975";
$lm-user-tie: "\e976";
$lm-quotes-left: "\e977";
$lm-quotes-right: "\e978";
$lm-hour-glass: "\e979";
$lm-spinner: "\e97a";
$lm-spinner2: "\e97b";
$lm-spinner3: "\e97c";
$lm-spinner4: "\e97d";
$lm-spinner5: "\e97e";
$lm-spinner6: "\e97f";
$lm-spinner7: "\e980";
$lm-spinner8: "\e981";
$lm-spinner9: "\e982";
$lm-spinner10: "\e983";
$lm-spinner11: "\e984";
$lm-binoculars: "\e985";
$lm-search: "\e986";
$lm-zoom-in: "\e987";
$lm-zoom-out: "\e988";
$lm-enlarge: "\e989";
$lm-shrink: "\e98a";
$lm-enlarge2: "\e98b";
$lm-shrink2: "\e98c";
$lm-key: "\e98d";
$lm-key2: "\e98e";
$lm-lock: "\e98f";
$lm-unlocked: "\e990";
$lm-wrench: "\e991";
$lm-equalizer: "\e992";
$lm-equalizer2: "\e993";
$lm-cog: "\e994";
$lm-cogs: "\e995";
$lm-hammer: "\e996";
$lm-magic-wand: "\e997";
$lm-aid-kit: "\e998";
$lm-bug: "\e999";
$lm-pie-chart: "\e99a";
$lm-stats-dots: "\e99b";
$lm-stats-bars: "\e99c";
$lm-stats-bars2: "\e99d";
$lm-trophy: "\e99e";
$lm-gift: "\e99f";
$lm-glass: "\e9a0";
$lm-glass2: "\e9a1";
$lm-mug: "\e9a2";
$lm-spoon-knife: "\e9a3";
$lm-leaf: "\e9a4";
$lm-rocket: "\e9a5";
$lm-meter: "\e9a6";
$lm-meter2: "\e9a7";
$lm-hammer2: "\e9a8";
$lm-fire: "\e9a9";
$lm-lab: "\e9aa";
$lm-magnet: "\e9ab";
$lm-bin: "\e9ac";
$lm-bin2: "\e9ad";
$lm-briefcase: "\e9ae";
$lm-airplane: "\e9af";
$lm-truck: "\e9b0";
$lm-road: "\e9b1";
$lm-accessibility: "\e9b2";
$lm-target: "\e9b3";
$lm-shield: "\e9b4";
$lm-power: "\e9b5";
$lm-switch: "\e9b6";
$lm-power-cord: "\e9b7";
$lm-clipboard: "\e9b8";
$lm-list-numbered: "\e9b9";
$lm-list: "\e9ba";
$lm-list2: "\e9bb";
$lm-tree: "\e9bc";
$lm-menu: "\e9bd";
$lm-menu2: "\e9be";
$lm-menu3: "\e9bf";
$lm-menu4: "\e9c0";
$lm-cloud: "\e9c1";
$lm-cloud-download: "\e9c2";
$lm-cloud-upload: "\e9c3";
$lm-cloud-check: "\e9c4";
$lm-download2: "\e9c5";
$lm-upload2: "\e9c6";
$lm-download3: "\e9c7";
$lm-upload3: "\e9c8";
$lm-sphere: "\e9c9";
$lm-earth: "\e9ca";
$lm-link: "\e9cb";
$lm-flag: "\e9cc";
$lm-attachment: "\e9cd";
$lm-eye: "\e9ce";
$lm-eye-plus: "\e9cf";
$lm-eye-minus: "\e9d0";
$lm-eye-blocked: "\e9d1";
$lm-bookmark: "\e9d2";
$lm-bookmarks: "\e9d3";
$lm-sun: "\e9d4";
$lm-contrast: "\e9d5";
$lm-brightness-contrast: "\e9d6";
$lm-star-empty: "\e9d7";
$lm-star-half: "\e9d8";
$lm-star-full: "\e9d9";
$lm-heart: "\e9da";
$lm-heart-broken: "\e9db";
$lm-man: "\e9dc";
$lm-woman: "\e9dd";
$lm-man-woman: "\e9de";
$lm-happy: "\e9df";
$lm-happy2: "\e9e0";
$lm-smile: "\e9e1";
$lm-smile2: "\e9e2";
$lm-tongue: "\e9e3";
$lm-tongue2: "\e9e4";
$lm-sad: "\e9e5";
$lm-sad2: "\e9e6";
$lm-wink: "\e9e7";
$lm-wink2: "\e9e8";
$lm-grin: "\e9e9";
$lm-grin2: "\e9ea";
$lm-cool: "\e9eb";
$lm-cool2: "\e9ec";
$lm-angry: "\e9ed";
$lm-angry2: "\e9ee";
$lm-evil: "\e9ef";
$lm-evil2: "\e9f0";
$lm-shocked: "\e9f1";
$lm-shocked2: "\e9f2";
$lm-baffled: "\e9f3";
$lm-baffled2: "\e9f4";
$lm-confused: "\e9f5";
$lm-confused2: "\e9f6";
$lm-neutral: "\e9f7";
$lm-neutral2: "\e9f8";
$lm-hipster: "\e9f9";
$lm-hipster2: "\e9fa";
$lm-wondering: "\e9fb";
$lm-wondering2: "\e9fc";
$lm-sleepy: "\e9fd";
$lm-sleepy2: "\e9fe";
$lm-frustrated: "\e9ff";
$lm-frustrated2: "\ea00";
$lm-crying: "\ea01";
$lm-crying2: "\ea02";
$lm-point-up: "\ea03";
$lm-point-right: "\ea04";
$lm-point-down: "\ea05";
$lm-point-left: "\ea06";
$lm-warning: "\ea07";
$lm-notification: "\ea08";
$lm-question: "\ea09";
$lm-plus: "\ea0a";
$lm-minus: "\ea0b";
$lm-info: "\ea0c";
$lm-cancel-circle: "\ea0d";
$lm-blocked: "\ea0e";
$lm-cross: "\ea0f";
$lm-checkmark: "\ea10";
$lm-checkmark2: "\ea11";
$lm-spell-check: "\ea12";
$lm-enter: "\ea13";
$lm-exit: "\ea14";
$lm-play2: "\ea15";
$lm-pause: "\ea16";
$lm-stop: "\ea17";
$lm-previous: "\ea18";
$lm-next: "\ea19";
$lm-backward: "\ea1a";
$lm-forward2: "\ea1b";
$lm-play3: "\ea1c";
$lm-pause2: "\ea1d";
$lm-stop2: "\ea1e";
$lm-backward2: "\ea1f";
$lm-forward3: "\ea20";
$lm-first: "\ea21";
$lm-last: "\ea22";
$lm-previous2: "\ea23";
$lm-next2: "\ea24";
$lm-eject: "\ea25";
$lm-volume-high: "\ea26";
$lm-volume-medium: "\ea27";
$lm-volume-low: "\ea28";
$lm-volume-mute: "\ea29";
$lm-volume-mute2: "\ea2a";
$lm-volume-increase: "\ea2b";
$lm-volume-decrease: "\ea2c";
$lm-loop: "\ea2d";
$lm-loop2: "\ea2e";
$lm-infinite: "\ea2f";
$lm-shuffle: "\ea30";
$lm-arrow-up-left: "\ea31";
$lm-arrow-up: "\ea32";
$lm-arrow-up-right: "\ea33";
$lm-arrow-right: "\ea34";
$lm-arrow-down-right: "\ea35";
$lm-arrow-down: "\ea36";
$lm-arrow-down-left: "\ea37";
$lm-arrow-left: "\ea38";
$lm-arrow-up-left2: "\ea39";
$lm-arrow-up2: "\ea3a";
$lm-arrow-up-right2: "\ea3b";
$lm-arrow-right2: "\ea3c";
$lm-arrow-down-right2: "\ea3d";
$lm-arrow-down2: "\ea3e";
$lm-arrow-down-left2: "\ea3f";
$lm-arrow-left2: "\ea40";
$lm-circle-up: "\ea41";
$lm-circle-right: "\ea42";
$lm-circle-down: "\ea43";
$lm-circle-left: "\ea44";
$lm-tab: "\ea45";
$lm-move-up: "\ea46";
$lm-move-down: "\ea47";
$lm-sort-alpha-asc: "\ea48";
$lm-sort-alpha-desc: "\ea49";
$lm-sort-numeric-asc: "\ea4a";
$lm-sort-numberic-desc: "\ea4b";
$lm-sort-amount-asc: "\ea4c";
$lm-sort-amount-desc: "\ea4d";
$lm-command: "\ea4e";
$lm-shift: "\ea4f";
$lm-ctrl: "\ea50";
$lm-opt: "\ea51";
$lm-checkbox-checked: "\ea52";
$lm-checkbox-unchecked: "\ea53";
$lm-radio-checked: "\ea54";
$lm-radio-checked2: "\ea55";
$lm-radio-unchecked: "\ea56";
$lm-crop: "\ea57";
$lm-make-group: "\ea58";
$lm-ungroup: "\ea59";
$lm-scissors: "\ea5a";
$lm-filter: "\ea5b";
$lm-font: "\ea5c";
$lm-ligature: "\ea5d";
$lm-ligature2: "\ea5e";
$lm-text-height: "\ea5f";
$lm-text-width: "\ea60";
$lm-font-size: "\ea61";
$lm-bold: "\ea62";
$lm-underline: "\ea63";
$lm-italic: "\ea64";
$lm-strikethrough: "\ea65";
$lm-omega: "\ea66";
$lm-sigma: "\ea67";
$lm-page-break: "\ea68";
$lm-superscript: "\ea69";
$lm-subscript: "\ea6a";
$lm-superscript2: "\ea6b";
$lm-subscript2: "\ea6c";
$lm-text-color: "\ea6d";
$lm-pagebreak: "\ea6e";
$lm-clear-formatting: "\ea6f";
$lm-table: "\ea70";
$lm-table2: "\ea71";
$lm-insert-template: "\ea72";
$lm-pilcrow: "\ea73";
$lm-ltr: "\ea74";
$lm-rtl: "\ea75";
$lm-section: "\ea76";
$lm-paragraph-left: "\ea77";
$lm-paragraph-center: "\ea78";
$lm-paragraph-right: "\ea79";
$lm-paragraph-justify: "\ea7a";
$lm-indent-increase: "\ea7b";
$lm-indent-decrease: "\ea7c";
$lm-share: "\ea7d";
$lm-new-tab: "\ea7e";
$lm-embed: "\ea7f";
$lm-embed2: "\ea80";
$lm-terminal: "\ea81";
$lm-share2: "\ea82";
$lm-mail: "\ea83";
$lm-mail2: "\ea84";
$lm-mail3: "\ea85";
$lm-mail4: "\ea86";
$lm-amazon: "\ea87";
$lm-google: "\ea88";
$lm-google2: "\ea89";
$lm-google3: "\ea8a";
$lm-google-plus: "\ea8b";
$lm-google-plus2: "\ea8c";
$lm-google-plus3: "\ea8d";
$lm-hangouts: "\ea8e";
$lm-google-drive: "\ea8f";
$lm-facebook: "\ea90";
$lm-facebook2: "\ea91";
$lm-instagram: "\ea92";
$lm-whatsapp: "\ea93";
$lm-spotify: "\ea94";
$lm-telegram: "\ea95";
$lm-twitter: "\ea96";
$lm-vine: "\ea97";
$lm-vk: "\ea98";
$lm-renren: "\ea99";
$lm-sina-weibo: "\ea9a";
$lm-rss: "\ea9b";
$lm-rss2: "\ea9c";
$lm-youtube: "\ea9d";
$lm-youtube2: "\ea9e";
$lm-twitch: "\ea9f";
$lm-vimeo: "\eaa0";
$lm-vimeo2: "\eaa1";
$lm-lanyrd: "\eaa2";
$lm-flickr: "\eaa3";
$lm-flickr2: "\eaa4";
$lm-flickr3: "\eaa5";
$lm-flickr4: "\eaa6";
$lm-dribbble: "\eaa7";
$lm-behance: "\eaa8";
$lm-behance2: "\eaa9";
$lm-deviantart: "\eaaa";
$lm-500px: "\eaab";
$lm-steam: "\eaac";
$lm-steam2: "\eaad";
$lm-dropbox: "\eaae";
$lm-onedrive: "\eaaf";
$lm-github: "\eab0";
$lm-npm: "\eab1";
$lm-basecamp: "\eab2";
$lm-trello: "\eab3";
$lm-wordpress: "\eab4";
$lm-joomla: "\eab5";
$lm-ello: "\eab6";
$lm-blogger: "\eab7";
$lm-blogger2: "\eab8";
$lm-tumblr: "\eab9";
$lm-tumblr2: "\eaba";
$lm-yahoo: "\eabb";
$lm-yahoo2: "\eabc";
$lm-tux: "\eabd";
$lm-appleinc: "\eabe";
$lm-finder: "\eabf";
$lm-android: "\eac0";
$lm-windows: "\eac1";
$lm-windows8: "\eac2";
$lm-soundcloud: "\eac3";
$lm-soundcloud2: "\eac4";
$lm-skype: "\eac5";
$lm-reddit: "\eac6";
$lm-hackernews: "\eac7";
$lm-wikipedia: "\eac8";
$lm-linkedin: "\eac9";
$lm-linkedin2: "\eaca";
$lm-lastfm: "\eacb";
$lm-lastfm2: "\eacc";
$lm-delicious: "\eacd";
$lm-stumbleupon: "\eace";
$lm-stumbleupon2: "\eacf";
$lm-stackoverflow: "\ead0";
$lm-pinterest: "\ead1";
$lm-pinterest2: "\ead2";
$lm-xing: "\ead3";
$lm-xing2: "\ead4";
$lm-flattr: "\ead5";
$lm-foursquare: "\ead6";
$lm-yelp: "\ead7";
$lm-paypal: "\ead8";
$lm-chrome: "\ead9";
$lm-firefox: "\eada";
$lm-IE: "\eadb";
$lm-edge: "\eadc";
$lm-safari: "\eadd";
$lm-opera: "\eade";
$lm-file-pdf: "\eadf";
$lm-file-openoffice: "\eae0";
$lm-file-word: "\eae1";
$lm-file-excel: "\eae2";
$lm-libreoffice: "\eae3";
$lm-html-five: "\eae4";
$lm-html-five2: "\eae5";
$lm-css3: "\eae6";
$lm-git: "\eae7";
$lm-codepen: "\eae8";
$lm-svg: "\eae9";
$lm-IcoMoon: "\eaea";

